<!DOCTYPE html>
<html>
<%- include('../partials/head')  %> 
<body id="bodyLogin">
    <%- include('../partials/header')%>

        <div class="wrapper">
            <div class="title">
                Inicio de sesión 
            </div>

            <form name= "loginForm" id="loginForm" action="/user/loading" method="post" class="form">  
                <div class="inputfield"></div>
                <p>Usuario</p>
                <input type="text" class="input" name="user">
                <p>Contraseña</p>
                <input type="password" class="input" name="password">
                <button type="submit">Inicia Sesión</button>
            </form>
        </div>
        
        <%- include('../partials/footer')%>
</body>
</html>