<!DOCTYPE html>
<html> 

    <head>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/Styless.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    
    </head>

    <body>
        <%- include('../partials/header')%>
    
        <section class="AltaProducto"></section>

            <div class="wrapper">
            <div class="title">
                PRODUCTO PERSONALIZADO
            </div>

            <div class="form">
    
            <div class="inputfield">

                <label>Nombre del producto</label>
                <input type="text" class="input">
                </div> 

            <div class="inputfield">
                
                <label>Descripción </label>
                <input type="text" class="input">
            </div> 

            <div class="inputfield"> 
            
                <label> Precio </label>
                <input type="text" class="input">
            </div>

            <!--BOTONES-->

        <div class="inputfield">

            <a href=""> 
                <input type="submit" value="Guardar cambios" class="btn" >
            </a>

            <a href=""> 
                <input type="submit" value="Eliminar producto" class="btn">
            </a>
        </div>

    <%- include('../partials/footer')%>
</body>
</html> 