* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: black;
    font-family: 'calibri';
  }
  

  header {
    background: white;
    width: 100%;
    clear: both;
    position: relative;
  
    
  }
  
  header .menu {
    
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  
 
  .img {
    width: 76px; 
    float: left;
    padding: 0px;
    border: 1px solid greenyellow;
  
  }
  
  nav {
    float: left;
    right: 0%;
  }

  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }

 header i {
    display: flex;
    /* flex-wrap: wrap; */
    right: 15px;
    justify-content: space-between;
    margin-top: 15px;
    
}
 
/*footer*/

footer {
  width: 100%;
  height: auto;
  display: block;
 
}

footer .img-footer {
  width: 76px;
  margin-top: 1px;
  margin-left: 1px;

}

 .contenedor-footer  {

}

.pie {
  margin-top:780px;
  background-color:white;
 
}

.pie .pie1 {
 
  display: flex;
  justify-content: space-around;

}

.pie .pie2 {
  display: flex;
  justify-content: space-around;
}

p {
  background-color: white;

}





/*fin footer*/


/*@media screen and (min-width: 980px){
  .body{
      width: 90%;
  }
  .{
      width: 60%;
  }
  .pie{
      width:30%;
  }
}*/