header{
    background-color: white;
}
header nav ul li a{
    width: 15%;
    color: #99DDCC;
    font-size: 30px;
    margin: 10px;
   
}
header nav ul li{
    display: flex;
    width: 25%;
    align-content: center;
    justify-content:space-between;
}
header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/*esto hace el salto de linea*/
}




footer { 
    height: auto;
    margin-top:35px;
    margin-bottom: 0px;
    border: 1px solid white;
}
footer a img{
    width: 8%;
}

.etiquetasPie{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}